* {
  font-weight: 300;
  text-align: center;
}

header {
  box-shadow: 0 0 4px black;
  padding: 0.5rem;
  height: 7vh;
}

main {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(209, 209, 209);
  height: 93vh;
}

.thumbnail {
  height: 30vh;
  min-height: 300px;
  width: 30vh;
  object-fit: cover;
  box-shadow: 0 0 4px black;
  border-radius: 1rem;
}
